$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-down: "\e90b";
$icon-arrow-up: "\e90c";
$icon-arrow-left: "\e900";
$icon-arrow-right: "\e901";
$icon-bars: "\e902";
$icon-cart: "\e903";
$icon-check: "\e904";
$icon-close: "\e905";
$icon-comparison: "\e906";
$icon-favorites: "\e907";
$icon-minus: "\e908";
$icon-plus: "\e909";
$icon-search: "\e90a";

